body {
    display: grid;
    grid-template: 13px 33px 1fr 42px / 25px 1fr 25px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

header {
    grid-area: 2 / 2 / span 1 / span 1;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}

    header ul
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    header a {
        color: #3F3F3F;
        margin: auto 1.5em;
    }
    #corporate-links:first-child a {
        margin-left: 0;
    }

    #account-links:last-child a {
        margin-right: 0;
    }

    #corporate-links {
        /* display: inline-block; */
    }

    #account-links {
        display: inline-flex;
        align-items: center;
    }

main {
    grid-area: 3 / 2 / span 1 / span 1;
    place-self: center;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #google-logo {
        margin-bottom: 25px;
    }

    #search-input {
        width: 43vw;
        min-width: 500px;
        height: 2.5em;
        border-radius: 0;
        padding: .25em .75em;
        border: solid 1px #DADADA;
        box-shadow: .5px 1.75px 2px #DDD;
        transition-timing-function: ease-in-out;
        transition: box-shadow .3s;
        font-size: 16px;
    }

        #search-input:hover,
        #search-input:active {
            box-shadow: .5px 2px 2px #DDD, 0px 3px 8px #DDD;
        }

    #search-buttons {
        text-align: center;
    }

    button {
        border-radius: 0;
        border: solid 1px #F2F2F2;
        color: #7A7A7A;
        background-color: #F2F2F2;
        font-weight: bold;
        height: 2.75em;
        margin: 2em .5em;
    }

        button:hover {
            color: #444;
            background-color: #F4F4F4;
            border: solid 1px #999;
            border-radius: 2px;
        }

footer {
    grid-area: 4 / 1 / span 1 / span 3;
    padding: 0 25px;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #F2F2F2;
    border-top: solid 1px #E4E4E4;
}
    footer ul
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    footer a {
        color: #666;
        margin: auto 1.5em;
    }
    #business-links:first-child a {
        margin-left: 0;
    }

    #legal-links:last-child a {
        margin-right: 0;
    }

ul {
    display: inline;
}

li {
    display: inline;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 12px;
}

    a:hover {
        text-decoration: underline;
    }


.icon-small {
    height: 23px;
    width: auto;
}

.darken-on-hover {
    opacity: .6;
}

    .darken-on-hover:hover {
        opacity: 1;
    }

.icon-medium {
    height: 33px;
    width: auto;
}
